h1 {
  color: #333;
  margin-top: 50px;
}
#controls {
  margin-top: 20px;
  margin-bottom: 20px;
}
#nft-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.nft-item {
  background-color: black;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.nft-item img {
  max-width: 100%;
  border-radius: 10px;
}
#connect-button {
  background-color: black;
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}
#disconnect-button {
  background-color: red;
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  display: none; /* Initially hidden */
}
#filter-select, #filter-select-2, #filter-select-3 {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
